# Basic Unity gitignore

# Temp folder
[Tt]emp/

# Logs
Logs/

# EditorInstance, to stop Unity from showing an error
Library/EditorInstance.json

# Builds
*.apk
*.exe

# VS temp?
.vs/

# The sample scene
Assets/Scenes/SampleScene.unity


# Images
images/

# Testing folder
Assets/Test
