# Basic Unity gitignore

# Temp folder
[Tt]emp/

# Logs
Logs/

# Library
Library/

# Builds
*.apk
*.exe

# VS temp?
.vs/

# The sample scene
Assets/Scenes/SampleScene.unity


# Images
images/

# Testing folder
Assets/Test
Assets/Test.meta
